<!DOCTYPE html>
<html>

<header>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/african.css') }}">
		<title>African Elephants</title>
</header>

<body>
	<h1>African Elephants</h1>
	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">About
				<i class="fa fa-caret-down"></i>
			</button>
		<div class="dropdown-content">
				<a href="/african">African Elephants</a>
				<a href="/asian">Asian Elephants</a>
			</div>
		</div>
		<a href="/conservation">Conservation & Threats</a>
		<a href="/contact">Contact</a>
	</div>
	

	<div id="container">
	<div id="floated">
	<p style="font-size: 100%; text-align: left;">

There are two distinct species of African elephant: the forest elephant and the savannah elephant. These two species are as genetically distinct from each other as the Asian elephant is from the extinct wooly mammoth. They have many physical differences and they live in vastly different habitats. However, both species are known for their complexity and sensitivity - including their abilities to recognize themselves in the mirror, play, and mourn their dead - and they are both keystone species, meaning they play critical roles in their ecosystems. They assist with plant dispersal by depositing undigested plant seeds in their dung, and they alter their landscape by uprooting trees and digging for water during the dry season. These foraging behaviours can also help other animals survive in harsh environmental conditions. These behaviours have earned elephants titles like ‘ecosystem engineers’ and ‘gardeners of the forest.’ 


<br>


<section class="container"></div>

<section class="container">
	<div class="left-half">
		<article>
		<h2><i>LOXODONTA AFRICANA</i> (African savannah)</h2>
		<p> 
			<b>Status:</b> Vulnerable 
			<br>
			<b>Height:</b> Shoulder height is 12 feet
			<br>
			<b>Weight:</b> 6 tons
			<br>
			<b>Habitats:</b> Tropical and Subtropical Moist Broadleaf Forests, Flooded Grasslands and Savannahs, Miombo woodlands, Acacia savannahs
			<br>
			<br>

		<img src="https://cdn.britannica.com/700x450/30/65330-004-511E8FF5.jpg" width="500" height="400">


</p>
	</article>
</div>
<div class="right-half">
	<article>
		<h2><i>LOXODONTA CYCLOTIS</i> (African forest)</h2>
			<p> 
			<b>Status:</b> Vulnerable 
			<br>
			<b>Height:</b> Shoulder height is 8 feet
			<br>
			<b>Weight:</b> 2.7 tons
			<br>
			<b>Habitats:</b> Forests of the Congo Basin in Central Africa
			<br>
			<br>
			<br>

	<img src="https://cosmos-magazine.imgix.net/file/spina/photo/9664/210217_forestelephants_1.jpg?fit=clip&w=835" width="500" height="400">


	</article>

</div>
</section>

</p>

</div>
</div>

</body>


</html>



