<!DOCTYPE html>
<html>

<header>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/african.css') }}">
		<title>African Elephants</title>
</header>

<body>
	<h1>African Elephants</h1>
	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">About
				<i class="fa fa-caret-down"></i>
			</button>
		<div class="dropdown-content">
				<a href="/african">African Elephants</a>
				<a href="/asian">Asian Elephants</a>
			</div>
		</div>
		<a href="/conservation">Conservation & Threats</a>
		<a href="/contact">Contact</a>
	</div>


<div id="container">
	<div id="floated">
	<p style="font-size: 130%; text-align: left;">

		<h2>LOXODONTA AFRICANA (African savannah)</h2>
		<h2>LOXODONTA CYCLOTIS (African forest)</h2>

African elephants are the largest land mammal and have a number of distinctive physical characteristics.  Their trunks are used to pick up food, draw water, breathe, and greet other elephants, and their large ears help them keep cool and communicate a range of emotions.  Adult African elephants have two tusks which are used to peel bark off trees, ‘mine’ for minerals and defend against predators.
<br>
<br>


African elephants are keystone species, in that they play a crucial role in maintaining their ecosystems. They assist with plant dispersal by depositing undigested plant seeds in their dung, and they alter their landscape by uprooting trees and digging for water during the dry season. These foraging behaviours can also help other animals survive in harsh environmental conditions. These behaviours have earned elephants titles like ‘ecosystem engineers’ and ‘gardeners of the forest.’
<br>
<br>

	<img src="http://old.grida.no/graphicslib/thumbs/1805c933-493c-4b85-be16-ad06eb342332/medium/african-elephant-range-and-population-distribution_3d84.jpg" align="center">
<br>
<br>

Elephants live in family groups, presided over by a dominant female, called a matriarch. Bull elephants depart the matriarchal herd when they reach sexual maturity, then move alone or in ‘bachelor herds.’ Herds can consist of 100 individuals or more, and they can move huge distances in search of food and water; for example, elephants in the deserts of Mali migrate across an area of 12,355 square miles.
<br>
<br>


<i> *International Union for Conservation of Nature is the world’s main authority on the conservation status of species.</i>

</p>

</div>
</div>
</body>

</html>
