<!DOCTYPE html>
<html>

<header>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/asian.css') }}">
		<title>Asian Elephants</title>
</header>

<body>
	<h1>Asian Elephants</h1>

	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">About
				<i class="fa fa-caret-down"></i>
			</button>
		<div class="dropdown-content">
				<a href="/african">African Elephants</a>
				<a href="/asian">Asian Elephants</a>
			</div>
		</div>
		<a href="/conservation">Conservation & Threats</a>
		<a href="/contact">Contact</a>
	</div>

<div id="container">
	<div id="floated">
	<p style="font-size: 130%; text-align: center;">

	<h2>ELEPHAS MAXIMUS</h2>

	<b>Status:</b> Endangered 
			<br>
			<b>Height:</b> Shoulder height is 10 feet
			<br>
			<b>Weight:</b> 5 tons
			<br>
			<b>Habitats:</b> Tropical and subtropical moist and dry broadleaf forests of India, Nepal, Bhutan, Bangladesh, Sri Lanka, Myanmar, Thailand, Laos, Cambodia, Vietnam, China, Malaysia, and Indonesia
			<br>
			<br>
			<br>


<section class="container"></div>

<section class="container">
	<div class="left-half">
		<article>
				<img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Elephas_maximus_%28Bandipur%29.jpg" width="400" height="300">

	</article>
</div>
<div class="right-half">
	<article>
		<p> 
			Asian elephant numbers have roughly halved in the last 60-75 years, and they are now restricted to just 15% of their historical range. Asian elephants are not quite as big as their African cousins, and have proportionally smaller ears. They’re generally dark grey to brown but often have pink or yellow marks on their face, ears and trunk.

</p>
	</article>

</div>
</section>

</p>

</div>
</div>



</div>
</div>

</html>
