<!DOCTYPE html>
<html>

	<header>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/elephant.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

		<div id="header">
			<img src="https://www.bornfree.org.uk/storage/media/content/images/Appeals/Elephant_Appeal_Footer_1.jpg" width="100%" height="400"; object-fit: contain/>
		</div>

			<title>Elephants on the Edge</title>
	</header>


	<body>

	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">About
				<i class="fa fa-caret-down"></i>
			</button>
		<div class="dropdown-content">
				<a href="/african">African Elephants</a>
				<a href="/asian">Asian Elephants</a>
			</div>
		</div>
		<a href="/conservation">Conservation & Threats</a>
		<a href="/contact">Contact</a>
	</div>


<div id="container">
	<div id="floated">
		
	<h1>Help Born Free Save Elephants</h1>

	<p style="font-size: 130%; text-align: left;">

	<img src="https://www.bornfree.org.uk/storage/media/content/images/GIFS/Elephant-campaign.gif" align="right">
	I’ve seen ivory burned or destroyed before, but that twisted conflagration – seven times larger than any other – will stay with me forever. The thick acrid smoke. The scorching heat. The distinctive smell that permeated clothes and stung eyes. And the intense grief for the legions of elephants slaughtered to feed human greed.
	<br>
	<br>

	Elephants are in crisis. A century ago there were an estimated five million elephants in Africa. Today, there are less than half a million. On average, at least 55 elephants are killed by poachers every day for their tusks. That’s about one every 25 minutes.
	<br>
	<br>

	Many experts have predicted that, unless poaching can be effectively addressed, elephants could all but disappear from many of Africa’s wild places in the coming decades. Born Free simply cannot, and will not, let that happen.
	<br>
	<br>


	We have been campaigning for a global ban on the trade in ivory since 1989. Our field work means we have experienced first-hand the brutal aftermath of poaching and the pressures that elephants face. We carry out crucial work in Cameroon, Ethiopia and Kenya to support the monitoring and protection of wild elephant populations, gaining invaluable insights to their behaviour and undeniable intelligence. We also support anti-poaching patrols – the brave men and women on the frontline of wildlife law enforcement who put their lives at risk every day to protect these magnificent animals from poachers.
	<br>
	<br>

	A world without elephants is simply unimaginable. Please help us continue our vital work to protect an icon of the African landscape.
	<br>
	<br>

<i>- Will Travers OBE, Born Free President</i>
	</p>
</div>
</div>

	</body>


<footer class="footer-distributed">

			<div class="footer-left">

			<img src="https://www.bornfree.org.uk/assets/images/front/structure/logo-white.svg" width="200" height="200" class="centerimage">
			<p class="footer-company-name">Born Free Foundation &copy; 2018</p>

			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Broadlands Business Campus, Langhurstwood Road</span> <span>Horsham, West Sussex, RH12 4QP</span></p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p><span>01403 240 170</span></p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><span><a href="mailto:info@bornfree.org.uk">info@bornfree.org.uk</a></span></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
				The Born Free Foundation is a registered charity.
				(Charity Number: 1070906). Registered as a company limited by guarantee (Number 03603432) (England & Wales).
				Registered office: Holmwood
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>

			</div>

		</footer>
</div>

</html>
